numpy==1.0.0
pandas==1.0.0
py_mini_racer==1.0.0
TA_Lib==1.0.0
arrow==1.0.0
bokeh==1.0.0
PyMySQL==1.0.0
requests==1.0.0
Logbook==1.0.0
SQLAlchemy==1.0.0
tornado==1.0.0
tqdm==1.0.0
easytrader==1.0.0
beautifulsoup4==1.0.0
pycryptodome==1.0.0
python_dateutil==1.0.0
